{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Registration</title>
    </head>
    <body>
    <br>
    <br>
    <br>
    <section>
        <div class="float-container">
            <div class="float-child">
                <div class="card card-header text-white">
                    <h2><b>
                        <center>Registration</center>
                    </b></h2>
                </div>
                <div class="card card-body" style="background: #b4d3e5">
                    <div class="row">
                        <div class="col-lg-6">
                            <a type="button" class="btn btn-lg btn-primary btn-block"
                               href="{% url 'account:company_register' %}">Register As Company</a>
                        </div>
                        <div class="col-lg-6">
                            <a type="button" class="btn btn-lg btn-primary btn-block"
                               href="{% url 'account:employee_register' %}">Register As Employee</a>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    </body>
    </html>

{% endblock content %}